[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[ dn ]
C=US
ST=Tranquility
L=Peace
O=Justice For All
CN=registry.intranet.domain.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = docker-registry.default.svc.cluster.local
DNS.2 = docker-registry.default.svc
